{{template "base" .}}

{{define "content"}}
    <section>
        <h2 class="creations-title animate__animated animate__bounceIn">Timeline:{{index .String}}</h2>
        <div class="center">
            <div class="creations-div animate__animated animate__bounceIn">
                <ol class="creations-list">
                    <li>Learned Server Basics + Linux + Bash Scripts</li>
                    <li>Learned HTML, CSS, and Javascript</li>
                    <li>Learned Python</li>
                </ol>
            </div>
        </div>
        <div id="text3">
            <p class="animate__animated animate__fadeInUpBig animate__delay-1s">“The Web as I envisaged it, we have
                not
                seen
                it yet. The future is still so much bigger than the
                past."
                -Tim Berners-Lee</p>
                <!-- <p class="animate__animated animate__fadeInUpBig animate__delay-1s">Hello {{index .StringMap "remote_ip"}}!</p> -->
        </div>
    </section>
    <a href="/"><svg style="position: absolute" class="moreSvg2" width="140" height="140" viewBox="0 0 140 140"
            fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            xml:space="preserver">
            <g id="triangles">
                <g id="secondblueGroup">
                    <path id="secondblue1" opacity="0.7"
                        d="M48.2796 55.6593L92.6184 81.8561L93.1025 30.4846L48.2796 55.6593Z" />
                    <path id="secondblue2" opacity="0.7"
                        d="M48.2796 55.6593L92.6184 81.8561L93.1024 30.4846L48.2796 55.6593Z" />
                </g>
                <g id="secondpurpleGroup">
                    <path id="secondpurple1" opacity="0.7"
                        d="M29.2751 55.654L73.6241 81.8541L74.1007 30.4919L29.2751 55.654Z" />
                </g>
            </g>
        </svg></a>
<a class="creations"></a>
{{end}}