{{template "base" .}}

{{define "content"}}
    <div class="icon-div">
            <a href="https://github.com/radictionary" style="color: black"><i
                            class="fa-brands fa-github icon animate__animated animate__fadeIn animate__slow"></i></a>
            <a href="https://dev.to/radictionary" style="color: black"><i
                            class="fa fa-brands fa-dev icon animate__animated animate__fadeIn animate__slow"></i></a>
    </div>
    <section class="tools_section animate__animated animate__fadeIn animate__delay-1s animate__slow">
            <h3 class="tools tools_icons">Platforms:</h3>
            <div class="icon-div">
                    <a href="https://go.dev" style="color: black"><i
                                    class="tools_icons fa-brands fa-golang icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://python.org" style="color: black"><i
                                    class="tools_icons fa fa-brands fa-python icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://nodejs.org" style="color: black"><i
                                    class="tools_icons fa fa-brands fa-node-js icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"
                            style="color: black"><i
                                    class="tools_icons fa fa-brands fa-html5 icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" style="color: black"><i
                                    class="tools_icons fa fa-brands fa-css3-alt icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://warp.dev" style="color: black"><i
                                    class="tools_icons fa fa-sharp fa-solid fa-terminal icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://git-scm.com" style="color: black"><i
                                    class="tools_icons fa fa-brands fa-git icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://cloudflare.com" style="color: black"><i
                                    class="tools_icons fa fa-brands fa-cloudflare icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://raspberrypi.com" style="color: black"><i
                                    class="tools_icons fa fa-brands fa-raspberry-pi icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://debian.org" style="color: black"><i
                                    class="tools_icons fa fa-brands fa-linux icon animate__animated animate__fadeIn animate__slow"></i></a>
                    <a href="https://www.apple.com/macos/ventura/" style="color: black"><i
                                    class="tools_icons fa fa-brands fa-apple icon animate__animated animate__fadeIn animate__slow"></i></a>

            </div>
    </section>
    <a href="/about"><svg style="position: absolute" class="moreSvg" width="140" height="140"
                    viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserver">
                    <g id="triangles">
                            <g id="blueGroup">
                                    <path id="blue1" opacity="0.7"
                                            d="M71.7204 55.6593L27.3816 81.8561L26.8975 30.4846L71.7204 55.6593Z" />
                                    <path id="blue2" opacity="0.7"
                                            d="M71.7204 55.6593L27.3816 81.8561L26.8976 30.4846L71.7204 55.6593Z" />
                            </g>
                            <g id="purpleGroup">
                                    <path id="purple1" opacity="0.7"
                                            d="M90.7249 55.654L46.3759 81.8541L45.8993 30.4919L90.7249 55.654Z" />
                            </g>
                    </g>
            </svg></a>
{{end}}
